.App {
  text-align: center;
  font-family: 'Jua', sans-serif;
}


.start-game-link{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 100px;
  font-size: 16px;
  margin: auto auto
}

.submitButton, .newGame{
  background-color: #4286f4;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  display: block;
  width: 100px;
  margin: auto auto auto
}

.newGame{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  display: block;
  width: 120px;
  margin: 30px auto auto
}

.letterInput{
  width: 120px;
  padding: 7px 10px;
  margin: 20px 20px 20px 20px;
  box-sizing: border-box; 
} 

.newGuess label{
  padding: 10px;
}

.game-container{
  margin: 100px 20px 20px 20px;
}

.game-container p{
  font-size: 18px;
}